.contact{
    padding: 5% 5%;
    margin-right: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    background: #3D3E56;
    margin-bottom: 4rem;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.left-contact{
    background: #ffffff;
    width: 100%;
    color: black;
    padding: 3rem;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.contact-icons{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-top: 2rem;
}

.icon-cont{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.icon-cont img{
    cursor: pointer;
    width: 30px;
    transition: ease-out 0.4s;
}

.icon-cont img:hover{
    transform: scale(1.2);
}

.social-icons img{
    cursor: pointer;
    transition: ease-out 0.4s;
}

.social-icons img:hover{
    transform: scale(1.2);

}

.contact-right{
    padding-left: 5rem;
    width: 100%;
}


form input{
    margin-bottom: 1rem;
    height: 35px;
    
}
form input, textarea{
    width: 100%;
    padding-left: 1rem;
    font-size: 17px;
    background: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
}

form input::placeholder{
    font-size: 17px;
    color: #b3b3b3;
    font-weight: 100;

}

form textarea::placeholder{
    font-size: 17px;
    color: #ffffff;
    color: #b3b3b3;
    font-family: 'inter';
}

textarea{
    padding-top: 0.5rem;
    height: 200px;
    font-family: 'inter';
}

.contact-right .btn{
    margin-top: 1.5rem;
}


@media screen and (max-width: 770px){
    .contact{
        grid-template-columns: 1fr;
        place-items: center;
        gap: 4rem;
        /* padding-left: 0; */
        margin-right: 0;
        margin: 5%;
        border-radius: 20px;
    }

    .left-contact{
        margin: 0;
        padding: 1rem 2rem;
        border-radius: 20px;

    }

    .contact-right{
        padding: 0;
    }
}


@media screen and (max-width: 600px){
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    form input, textarea{
        width: 90%;
    }
    .contact{
        width: 100%;
        margin: 0;
        padding: 0;
        /* padding: 0 4rem; */
    }

    .contact-right{
        padding-bottom: 2rem;
    }

    form button{
        width: 90%;
    }

}